html {
  box-sizing: border-box;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background: #f7f7f7;
  min-height: 100vh;
	color: #252527;
  font-family:
	-apple-system,
	sans-serif,
	BlinkMacSystemFont,
	'Segoe UI',
	Roboto,
	Helvetica,
	Arial,
	'Apple Color Emoji',
	'Segoe UI Emoji',
	'Segoe UI Symbol';
}

a {
	color: #252527;
}

b,
strong {
	font-weight: bolder;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}