html {
  box-sizing: border-box;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	/* background: #f7f7f7; */
	/* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
	background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  min-height: 100vh;
	/* color: #252527; */
	color: rgba(0,0,0,.7);
  font-family:
		-apple-system,
		sans-serif,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
}

a {
	/* color: #252527; */
	color: rgba(0,0,0,.7);
	text-decoration: none;
}



b,
strong {
	font-weight: bolder;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	color: rgba(0,0,0,.7);
	cursor: pointer;
	-webkit-appearance: none;
}

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

.no-focus-outline a:focus,
.no-focus-outline input:focus,
.no-focus-outline button:focus {
  outline: none;
}

h1 {
	display: flex;
	flex-flow: row nowrap;
	transition: all 200ms;
}