$font_dark_primary: rgba(0, 0, 0, 0.7);
$font_dark_secondary: #252527;
$googleRed: #dd4b39;
$googleRed_active: #B53E2F;
$googleBlue: #4285F4;
$facebookBlue: #4267b2;
$facebookBlue_active: #375592;
$twitterBlue: #1DA1F2;
$twitterBlue_active: #1884C7;
$githubGrey: #444;
$githubGrey_active: #383838;
$buttonWhite: #FFFFFF;
$buttonWhite_active: #FAFAFA;
$errorRed: #F9564F;
$inputBg_grey: #F5F5F5;
$inputBorder: #DCDFDC;
$inputBorder_active: #83C9F4;