input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

input {
	border-radius: 0;
  padding: 0.5em;
  
  &:focus,
  &:active {
    outline: none;
  }
}

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}