.app {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .content {
    flex: 1;
    padding: 0 1em;
    max-width: 1200px;
  }
}

a:not(.link-button):hover {
  opacity: 0.8;
}

a:not(.link-button) {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  transition: all 250ms;
}

a:not(.link-button)::before {
  display: inline-block;
  position: absolute;
  bottom: -5px; left: 50%;
  content: '';
  height: 2px;
  width: 0;
  background: #252527;
  transition: all 250ms;
}

a:not(.link-button)::after {
  display: inline-block;
  position: absolute;
  bottom: -5px; right: 50%;
  content: '';
  height: 2px;
  width: 0;
  background: #252527;
  transition: all 250ms;
}

a:not(.link-button):hover::after,
a:not(.link-button):hover::before {
  width: 50%;
}

.no-focus-outline a:focus,
.no-focus-outline input:focus,
.no-focus-outline button:focus {
  outline: none;
}