@import '../helpers/all.scss';

@font-face {
  font-family: Roboto;
  src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../../fonts/Roboto-Regular.woff') format('woff');
}

.header {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  background: #fff;
  padding: 3em;
  margin-bottom: 3em;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  @include xs {
    flex-flow: column;
    align-content: center;
    padding: 2em 0.5em;
  }

  .brand {
    a {
      display: inline-block;
      font-weight: bold;
      text-decoration: none;
      transition: all 250ms;

      &::after {
        content: '';
        width: 0;
        height: 2px;
        display: block;
        background: #252527;
        transition: all 250ms;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .auth-container {
    margin-top: 1em;

    @include med {
      margin-top: 0;
      margin-left: auto;
    }
    
    .auth-item {
      position: relative;
      display: inline-block;
      transition: background 200ms;

      .title {
        cursor: pointer;
        padding: 0.2em;
        font-weight: bolder;
        transition: color 200ms;
      }

      .selection {
        position: absolute;
        right: 0;
        height: 0;
        padding-left: 0.5em;
        padding-right: 0.5em;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: all 200ms;
        @include xs {
          right: 50%;
          transform: translateX(50%);
        }        

        a button {
          margin: 1em 0.5em;
          padding: 0.3em 0.5em;
          border-radius: 0;
          box-shadow: none;
          color: transparent;
          cursor: pointer;
          transition: all 200ms;

          .btn-content {
            display: flex;
            flex-flow: row nowrap;
            align-content: center;
  
            .btn-icon {
              background: #ffffff;
            }
            
            .btn-txt {
              display: flex;
              align-items: center;
              font-size: 1.3em;
              padding-left: 0.5em;
              white-space: nowrap;
            }
          }
        }
        
        a button.google-button {
          background: $googleRed;
          font-family: 'Roboto', sans-serif;
          border: 1px solid $googleRed;
          color: #ffffff;
          border-radius: 5px;
          
          .btn-icon {
            border-radius: 5px;
            height: 30px;
          }
        }
      }

      &:hover {
        
        .selection {
          height: 10em;
        }
      }
    }
    
    .separator {
      display: inline-block;
      margin: 0 0.5em;
      font-weight: bolder;
    }
    
    .sign-in-container, .register-container {
      @extend .auth-item;
    }
  }
}