@import '../1-settings/colors.scss';
@import '../2-tools/mixins.scss';
@import '../3-elements/buttons.scss';


.header {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  background: #fff;
  padding: 2.5em 3em;
  margin-bottom: 3em;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  @include xs {
    flex-flow: column;
    align-content: center;
    padding: 1.5em 0.5em;
  }

  .auth-container {
    margin-top: 0.5em;
    @include med {
      margin-top: 0;
      margin-left: auto;
    }
    
    .auth-buttons {
      position: relative;
      display: inline-block;
      transition: all 250ms ease;

      &:hover {
        .auth-card {
          height: 35em;
          border: 1px solid #efefef;
          background: rgba(250, 250, 250, .85);
          @include xs {
            margin-top: 2em;
            background: rgba(250, 250, 250, .95);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, .24);
          }
        }
      }

      .auth-title {
        cursor: pointer;
        padding: 0.5em 0.2em;
        font-weight: bolder;
        transition: all 250ms ease;
        @include xs {
          padding-bottom: 0;
        }
      }

      .auth-card {
        position: absolute;
        right: 0;
        height: 0;
        padding-left: 3em;
        padding-right: 3em;
        overflow: hidden;
        background: none;
        border: 1px solid transparent;
        transition: all 250ms ease;
        @include xs {
          right: 50%;
          transform: translateX(50%);
        }

        .login-container {
          height: 33em;
          overflow: hidden;
          transition: all 250ms ease;

          &[collapsed="true"] {
            height: 0;
            overflow: hidden;
          }
        }

        a button {
          display: block;
          margin: 0.8em 0;
          padding: 0.3em 0.7em;
          width: 250px;
          border-radius: 0;
          box-shadow: none;
          color: transparent;
          cursor: pointer;
          transition: all 250ms;
          
          .btn-content {
            display: flex;
            flex-flow: row nowrap;
            align-content: center;
            
            .btn-icon {
              background: $buttonWhite;
              height: 30px;
              transition: all 250ms;
            }
            
            .btn-txt {
              display: flex;
              align-items: center;
              font-size: 1.1em;
              padding-left: 0.5em;
              white-space: nowrap;
            }
          }
        }
        
        a button.google-button {
          margin-top: 1.3em;
          background: $googleRed;
          border: 1px solid $googleRed;
          color: $buttonWhite;

          &:hover, &:active {
            background: $googleRed_active;
            border: 1px solid $googleRed_active;
            color: $buttonWhite_active;

            .btn-icon {
              background: $buttonWhite_active;
            }
          }

          .btn-icon {
            border-radius: 5px;
          }
        }

        a button.facebook-button {
          background: $facebookBlue;
          border: 1px solid $facebookBlue;
          color: $buttonWhite;

          &:hover, &:active {
            background: $facebookBlue_active;
            border: 1px solid $facebookBlue_active;
            color: $buttonWhite_active;

            .btn-icon {
              background: $buttonWhite_active;
            }
          }
        }

        a button.twitter-button {
          background: $twitterBlue;
          border: 1px solid $twitterBlue;
          color: $buttonWhite;

          &:hover, &:active {
            background: $twitterBlue_active;
            border: 1px solid $twitterBlue_active;
            color: $buttonWhite_active;

            .btn-icon {
              border: 1px solid $buttonWhite_active;
            }
          }

          .btn-icon {
            border-radius: 100%;
            border: 1px solid $buttonWhite;
          }
        }

        a button.github-button {
          background: $githubGrey;
          border: 1px solid $githubGrey;
          color: $buttonWhite;

          .btn-icon {
            background: $githubGrey;
            border-radius: 100%;
          }

          &:hover, &:active {
            background: $githubGrey_active;
            border: 1px solid $githubGrey_active;
            color: $buttonWhite_active;

            .btn-icon {
              background: $githubGrey_active;
            }
          }
        }

        .register-trigger-container {
          padding-top: 1.8em;
          display: flex;
          align-content: center;
          align-items: baseline;

          button.register-trigger {
            @extend .btn-unstyled;
            margin-left: 0.3em;
            font-weight: bold;
            border-bottom: 1px solid transparent;
            padding: none;

            &:hover {
              border-bottom: 1px solid $font_dark_primary;
            }
          }
        }

        .register-container {
          height: 0;
          overflow: hidden;
          color: transparent;
          padding-top: 1.5em;
          transition: 250ms ease;

          .register-title {
            color: transparent;
          }

          button.cancel-register-button {
            @extend .btn-unstyled;
            color: transparent;
            float: right;

            &:hover {
              border-bottom: 1px solid $font_dark_primary;
            }

            &:active, &:focus {
              outline: none;
            }
          }

          &[visible="true"] {
            height: 30em;
            color: $font_dark_primary;
            overflow: hidden;

            .register-title {
              font-weight: bold;
              color: $font_dark_primary;
            }

            button.cancel-register-button {
              color: $font_dark_primary;
            }
          }
        }
      }
    }
  }
}