@import '../1-settings/colors.scss';
@import '../3-elements/buttons.scss';

.register-form {
  padding-top: 1em;

  label {
    display: block;
    color: transparent;
  }

  input {
    width: 100%;
    border: 1px solid $inputBorder;
    background-color: $inputBg_grey;
    transition: all 200ms;

    &[error="true"] {
      border: 1px solid $errorRed;
      &:focus {
        border: 1px solid $errorRed;
      }
    }

    &:focus {
      outline: none;
      border: 1px solid $inputBorder_active;
    }
  }
  
  .error-message {
    height: 0;
    margin-bottom: 1em;
    color: transparent;
    transition: all 300ms;

    &[triggered="true"] {
      height: 1.6em;
      margin-bottom: 0;
      color: $errorRed;
    }
  }

  .register-button-container {
    padding-top: 0.5em;
    
    button.register-reset {
      @extend .btn-primary;
      margin-left: 0.5em;
    }
  }
}